[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
